{% extends 'base.html' %}

{% block title %}post_detail.html{% endblock %}

{% block content %}

    <h2>{{ object.title }}</h2>
    <p>{{ object.modify_dt|date:"Y-m-d"}}</p>
    <br>

    <p>{{ post.description }} </p>
    <p>{{ post.content }} </p>

    <p>
        {% if object.get_previous%}
        <a href="{{object.get_previous.get_absolute_url}}" title="View previous post">
            &laquo;-- {{object.get_previous}}
        </a>
        {% endif %}
        
        {% if object.get_next%}
        | <a href="{{object.get_next.get_absolute_url}}" title="View next post">
            {{object.get_next}} --&raquo;
        </a>
        {% endif %}
    </p>

    <div>
        {{ object.conten|linebreaks }}
    </div>
    <br>
    <div>
        <b>TAGS</b> <i class="fas fa-tag"></i>
        {% load taggit_templatetags2_tags %}
        {% get_tags_for_object object as "tags" %}
        {% for tag in tags %}
        <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
        {% endfor %}
    &emsp;
        <a href="{% url 'blog:tag_cloud' %}"><span class='btn btn-info btn-sm'>TagCloud</span></a>
    </div>

{% endblock %}